<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-black" routerLink="/nuevaexp" *ngIf="isLogged">
            Agregar Estudios
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Educacion.id}}">
                            <i class="bi bi-pencil-square"></i>Editar</button></td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete (Educacion.id)">
                            <i class="bi bi-trash-fill"></i>Borrar</button></td> 
                </tr>

            </tbody>

        </table>
    </div>

<div class="container">
    <div class="row">
    <h1>Educación</h1>
    <ul>
        <li><h1>Licenciatura en química</h1> - <h3>2 años</h3></li>
        <p>He realizado los dos primeros años de la carrera en al UNS (Universidad Nacional del Sur)</p>
    </ul>

    <ul>
        <li><h1>Profesorado en educación primaria</h1> - <h3>2 años</h3></li>
        <p>He realizado los dos primeros años de la carrera en el Instituto Superior de Formación Docente N°3 (ISDF Nº3)</p>
    </ul>
</div>



</div>
