<div class="container">
    <div class="row">
    <h1>Educación</h1>
    <ul>
        <li><h1>Licenciatura en química</h1> - <h3>2 años</h3></li>
        <p>He realizado los dos primeros años de la carrera en al UNS (Universidad Nacional del Sur)</p>
    </ul>

    <ul>
        <li><h1>Profesorado en educación primaria</h1> - <h3>2 años</h3></li>
        <p>He realizado los dos primeros años de la carrera en el Instituto Superior de Formación Docente N°3 (ISDF Nº3)</p>
    </ul>
</div>



</div>
