<div class="container">
    <div class="row">
    
    <div class="col-sm-2"><img src="../../assets/APLogo.png" width= 125></div>
    <div class="col-sm-5"></div>
    <div class="col-sm-4">
        <a href="https://www.facebook.com/diego.ballesteros.9828/" class="btn-lg active" role="button"><img src="../../assets/51214.png" width= 75 height=75></a>
        <a href="https://github.com/Ballesteros-Diego" class="btn-lg active" role="button"><img src="../../assets/Githublogo.png" width= 75 height=75></a>
        <a href="https://www.linkedin.com/in/diego-ballesteros-54a0a613b/" class="btn-lg active" role="button"><img src="../../assets/Linkedin.png" width= 75 height=75></a>
    </div>
    <!--sdsdsds-->
    <div class="col-sm-1">
        <button type="button" class="btn-lg btn-primary" padding="5mp" (click)="login()" *ngIf="!isLogged">Login</button>
        <button type="button" class="btn-lg btn-primary" padding="5mp" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
    </div>
  </div>
</div>