<div class="row">
    <h1>Hard & Soft skills</h1>
<div class="col-sm-4">
<circle-progress
[percent]="10"
[radius]="100"
[showUnits]="false"
[showImage]="true"
[title]="'Javascript'"
[imageSrc]="'../assets/js.jpg'"
[imageHeight]="50"
[imageWidth]="50"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
></circle-progress></div>

<div class="col-sm-4">
<circle-progress
[percent]="10"
[radius]="100"
[showUnits]="false"
[showImage]="true"
[title]="'Java'"
[imageSrc]="'../assets/Java.png'"
[imageHeight]="50"
[imageWidth]="50"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
></circle-progress></div>

<div class="col-sm-4">
<circle-progress
[percent]="5"
[radius]="100"
[showUnits]="false"
[showImage]="true"
[title]="'MySQL'"
[imageSrc]="'../assets/MySQL.png'"
[imageHeight]="50"
[imageWidth]="50"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
></circle-progress></div>

</div>